{extend name="base"} {block name="title"}列表页{/block} {block name="main"}
<section class="mt-3">
  <div class="container">
    <div class="row">
      {empty name="list"}
        <span>当前分类没有文章</span>
      {/empty}
      {volist name="list" id="v"}
      <div class="col mb-4">
        <div class="card" style="width: 18rem">
          <img src="{$v.img}" class="card-img-top" alt="..." />
          <div class="card-body">
            <a class="card-text" href="/article-{$v.id}.html"
              >{$v.title}</a
            >
          </div>
        </div>
      </div>
      {/volist}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>

{/block}
